In [3]:
# chi square test for destination travelled and the result of claim

# null hypothesis: there is no association between destination travelled and
#                  the result of claim 

# alternative hypothesis: there is association between destination travelled
#                         and the result of claim  

import pandas as pd 
from bioinfokit.analys import stat

df = pd.read_csv("(MASAHackathon2022)TravelInsuranceDataSet.csv")

ctab = pd.crosstab(df.Destination, df.Claim)
ctab

Claim                   No  Yes
Destination
ALBANIA                  1    0
ANGOLA                   1    0
ARGENTINA               21    1
ARMENIA                  1    0
AUSTRALIA             3656   38
...                    ...  ...
VENEZUELA                5    0
VIET NAM              1657   12
VIRGIN ISLANDS, U.S.     1    0
ZAMBIA                   3    0
ZIMBABWE                 3    0

[149 rows x 2 columns]

In [4]:
res = stat()
res.chisq(df = ctab)
print(res.summary)

Chi-squared test for independence

Test              Df    Chi-square       P-value
--------------  ----  ------------  ------------
Pearson          148       982.451  3.51866e-123
Log-likelihood   148       847.06   1.80876e-98

In [ ]:
# p-value of Pearson is 3.51866e-123, p < 0.05, so we can conclude that 
# there is significat association between destination travelled and the
# result of claim, thus we have enough evidence to reject the null 
# hypothesis